*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

// root varible [SECTIONS] customize variable;
:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(255, 0 ,86);
    --text-color: #0A0A0A;
    --text-light:#575578;
    --font-size: 16px;
    --animation-speed:1;
}


// function complex with animation
@function geAnimationDuration($duration: number){
        @return calc($duration * var(--animation-speed));
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto',sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
}
a{
 text-decoration: none;
}

img{
    object-fit: cover;
}


// import custom ccss
@import "partials/animation.scss";
@import "partials/navbar.scss";



// HERO SECTION START STYLE

// import exclusive style for hero section
@import 'partials/hero-section';

.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    &.d-block{
        display: block;
    }


    .title{
        color: var(--text-color);
        font-size: 2.5rem;
        margin-bottom: .25em;
        font-weight: 900;
        
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        margin-bottom: .5em;
        letter-spacing:1px;
        line-height: 1.3em;
        margin-bottom: .2em;
    }
    .col{
        width: 50%;
    }
}



.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 6px var(--shadow-color);
    font-weight: bold;

    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }

}

// CUTOMIMAGE STYLE SECTION START
.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }



}
// CUTOMIMAGE STYLE SECTION END
// HERO SECTION END STYLE




// IMPROVE SKILLSS [SECTION] START
@import "partials/improve-section";
// IMPROVE SKILLSS [SECTION] END


// QOUTESECTION [SECTION] START
    @import "partials/quote-section";
// QOUTESECTION [SECTION] END


// CHIEFS SECTION [SECTION] START
    @import "partials/cgiefs-section";
// CHIEFS SECTION [SECTION] END


// FOOTER SECTION [SECTION] START
    @import "partials/footer-section";
// FOOTER SECTION [SECTION] END


// RECIPE SECTION [SECTION] FOR PRVISEW SEARCH START
   @import "partials/prievious-section";
// RECIPE SECTION [SECTION]  FOR PRVISEW SEARCHEND


// RECIEPE CARD SECTION [SECTION] START
@import "partials/recipe-section";
// RECIEPE CARD SECTION [SECTION] END


//SETTINGS SECTON [SECTIOM] START 

.d-block h2{
    font-size: 1.5em;
    color: var(--text-color);
    

}
    .option-container{
        box-shadow: 0 5px 10px var(--shadow-color);
        padding: 1em;
        border-radius: 5px;
        border-left: .5em solid var(--primary-color);
        background-color: var(--background-text);
        margin-top: .1em;
        display: flex;
        gap: 1em;
        .option{
                height: 3em;
                width: 3.5em;
                box-shadow: 0 3px 6px var(--shadow-color);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &.light{
                    background-color: white;
                }
                &.dark{
                    background-color: rgba(29,29,29);
                }
                .check{
                    height: 2.5em;
                    width: 2.5em;
                    background-color: var(--primary-color);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0 2px- 5px var(--shadow-color);
                    svg{
                        height: 1.5em;
                        width: 1.5em;
                    }
                }
         
        }   
        .btn span{
            display: inline-block;
            margin-left: .5em;
  

        }

    }

//SETTINGS SECTON [SECTIOM] END 


.main{
    padding-block: 3vw;

}

.container{
    padding-inline: 12vw;
    
}






.sidebar-btn{
    height: 28px;
    width: 30px;
    position:relative;
    display: none;

    // menuburger form
    .bar{
        border-radius: 5px;
        height: 6px;
        width: 100%;
        background-color: var(--text-color);
        position: absolute;
        transition: transform geAnimationDuration(.2s);
        &:nth-child(1){
            top: 0;
            
        }
        &:nth-child(2){
            top: 50%;
            transform-origin: right;
            transform: scaleX(.8)translateY(-50%);

            
        }
        &:nth-child(3){
            top: 100%;
            transform-origin: right;
            transform: scaleX(1.2)translateY(-100%);

        }
    }

    // times form
    &.active{
        .bar{
            transform-origin: center;
            top:50%;
            &:nth-child(1){
                transform: translate(0,-50%) scaleX(1)rotate(45deg);
            }
            &:nth-child(2){
                transform: scaleX(0) translateY(-50%);
            }
            
            &:nth-child(3){
                transform: translate(0,-50%) scaleX(1)rotate(-45deg) ;
            }

        }
    }

}



// SIDEBAR COMPONENT START[SECTION]
 


// SISBAR COMPONENT END[SECTION]


// median quesry [SECTION] 




// LARGES DIVICES SECTION
@media screen and (max-width: 1280px){
    .container{
        padding-inline: 18vw;
    }
}   

@media screen and (max-width: 1050px){
    .container{
        padding-inline: 12vw;
    }
}     


// TABLET DEVICES SECTION
@media screen and (max-width: 768px){
    .container{
        padding-inline: 6vw;
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }

    }
    .skill-item{
        display: inline-block;
        margin: 1em;
    }
    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .navbar{       
     .nav-links{
                display: none;
            }

            .sidebar-btn{
                display: block;
            }
    }

    .chief-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3) {
            grid-column: span 2;
        }


    }

}


// MOBILE DEVICES [SECTION] 

@media screen and (max-width: 480px){
    .container{
        padding-inline: 2vw;
        text-align: center;
    }
}     