.navbar{
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-color);
    color: var(--text-color);
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 998;
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
    top: 0;
    
    .logo{
        font-size: 1.2em;
        font-weight:bolder;
        text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        color: var(--primary-color);
        span{
            color: var(--text-color)
        }
       
    }

    .nav-links{
        a{
            margin-left: 1rem;
            color: var(--text-color);
            letter-spacing: 2spx;
            text-transform: uppercase;
            position: relative;
            font-size: .9em; 

            // & --> mains refer the reference this class element ex nav-link
            &::before{
                content: " ";
                display: inline-block;
                height: 3px;
                width: 100%;
                background: var(--primary-color);
                position:absolute;
                left: 0;
                bottom: -10px;
                transform: scaleX(0);
                transition: transform geAnimationDuration(.2s) ease-in-out;

            }

            &:hover {
                 &::before{
                    transform: scaleX(1);
                 }
            }

            &.active{
                color: var(--primary-color);
                font-weight: bold;

            }

        }

    }

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2), 3px 0 5px var( --shadow-color);
    background-color:  var( --background-color);
    animation:geAnimationDuration(.3s) slideLeft;
    z-index: 999;;


    .sidebar-link{
    display: block;
    padding: .5em 1em;
    border-left: .5em;
    border-left: .4em solid transparent;
    margin-bottom: 1em;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.1em;
    animation:geAnimationDuration(.3s) slideLeft forwards;
    transform: translateX(-100%);
    @for $i from 1 through 3{
        &:nth-child( #{$i}){
            animation-delay: #{$i * .1}s;
        }
    }
    &.active{
        border-left-color: var(--primary-color);
    }
    svg{
        width: 1.2em;
        margin-right: .5em;
    }
    &:hover{
        border-left-color: var(--primary-color);
        background-color: rgba(0, 0, 0, 0.09);
    }
}
}