.preview-search{
    display: block;
    h2{
        color: var(--text-color);
        margin-bottom: .5em;
    }
    .prev-search-container{
        .search-item{
            background-color: var(--primary-color);
            display: inline-block;
            padding: .5em 1em;
            margin:  0 1em 1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 10px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation:geAnimationDuration(.5s) slideInRight forwards;

        }   
    }
    
    .search{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;
        input, .btn{
            height: 35px;

        }
        input{
            min-width: 250px;
            padding: 0 0.5em;
            border-radius:  5px 0 0 5px;
            outline: none;
            border: 1px solid #4d4d4d
        }
        .btn{
            padding-block: 0;
            padding-inline: 0.5em;
            border-radius: 0 5px 5px 0;
        }

        }
}
