.recipes-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5em;
    

.recipe-card{

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    .recipe-card-info{
        padding: 15px;
       

    }
    .custom-image{
        z-index: -1;
    }
    .auther-img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border:3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;

    }
    .recipe-title{
       font-size: 1.25em;
       font-weight: bold;
       margin-bottom: .5em;
       color: var(--text-color);
       margin-top: .25em;

    }
    .recipe-desc {
        color: var(--text-light);
        font-size:.9em;
        letter-spacing: 1px;

    }
    .view-btn{
        cursor: pointer;
        font-size: 1em;
        color: var(--primary-color);
        margin-top: .75em;
        display: inline-block;

    }
}
}
